<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondkill.dao.SecKillDetailDao">
    <insert id="insert">
        insert into seckilldetail(sek_kill_id, user_phone, status)
        values (#{secKillId}, #{userPhone}, #{status})
    </insert>
</mapper>